
body {
    background: #a533ff;
    margin-left: 5%;
    margin-right:15%;
}
 h1{
     color:cornsilk;
     font-size:40px;
     font-family: Arial;
     margin:center;
     margin-left: 40%;
    }

    img{ scroll-margin-bottom: 10px;

    }